<main class="uk-width-expand uk-position-relative">
  <h1>Editing Order</h1>

  <%= render 'form', order: @order %>

  <%= link_to 'Show', customers_order_path(@order) %> |
  <%= link_to 'Back', customers_order_path %>

</main>