<main class="uk-width-expand uk-position-relative">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Brand Name:</strong>
    <%= @brand.name %>
  </p>

  <%= link_to 'Edit', edit_users_customers_order_path(@order) %> |
  <%= link_to 'Back', users_customers_order_path %>

</main>