<main class="uk-width-expand uk-position-relative">
  <h1>Editing Category</h1>

  <%= render 'form', category: @category %>

  <%= link_to 'Show', @category %> |
  <%= link_to 'Back', users_admin_category_path %>
</main>
