<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<%= link_to image_tag('common/view.png', size: '25x25'), admin_category_path(@category), "uk-tooltip":"title: Show Details; delay: 500" %> |
<%= link_to image_tag('common/back-arrow.png', size: '25x25'), admin_categories_path, "uk-tooltip":"title: Back; delay: 500" %>