<main class="uk-width-expand uk-position-relative">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Category Name:</strong>
    <%= @category.name %>
  </p>

  <%= link_to 'Edit', edit_users_admin_category_path(@category) %> |
  <%= link_to 'Back', users_admin_category_path %>

</main>