<main class="uk-width-expand uk-position-relative">
  <h1>Editing Product</h1>

  <%= render 'form', product: @product %>

  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', users_admin_product_path %>

</main>