<h1>Editing Brand</h1>

<%= render 'form', brand: @brand %>

<%= link_to image_tag('common/view.png', size: '25x25'), admin_brand_path(@brand), "uk-tooltip":"title: Show Details; delay: 500" %> |
<%= link_to image_tag('common/back-arrow.png', size: '25x25'), admin_brands_path, "uk-tooltip":"title: Back; delay: 500" %>