<!--Main Page-->
<div class="landing page">
  <div id="section_un" class="background one parallax">
    <div class="signpost">
    <span class="foto border">
      FOTOMWA
    </span>
    </div>
  </div>
  <div class="text">
    <h1>Welcome</h1>
    <p>Enjoy a Family friendly taking on making memories.</p>
  </div>
  <div id="section_deux" class="background two parallax"></div>
  <div class="text">
    <h1>Services and Products</h1>
    <p>From Photos to Camera Accessories, Find it all with Us.</p>
    <p>Let us take your Studio Photos and Passports.</p>
  </div>
  <div id="section_trois" class="background four parallax"></div>
  <div class="text">
    <h1>Contact Us</h1>
    <p>Reach us any day of the week.</p>
  </div>

  <!--Login-->
  <div class="login_popup">
    <div id="login" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <form class="container">
          <img src="https://cdn.fstoppers.com/styles/large-16-9/s3/lead/2018/04/2018-pulitzer-prize-photography-winners-announced.jpg">
          <fieldset>
            <label for="name">Username:</label>
            <input type="text" id="username" name="user_name"><br>
            <label for="login">Password:</label>
            <input type="text" id="password" name="user_password">
          </fieldset>
          <button type="submit">Login</button><br>
          <a href="#">Forgot your password?</a>
        </form>
      </div>
    </div>

  </div>
</div>
