<div id="section_un" class="background one parallax">
  <div class="signpost">
    <span class="foto border">
      FOTOMWA
    </span>
  </div>
</div>
<div class="text">
  <h1>Welcome</h1>
  <p>Enjoy a Family friendly taking on making memories.</p>
</div>
<div id="section_deux" class="background two parallax"></div>
<div class="text">
  <h1>Services and Products</h1>
  <p>From Photos to Camera Accessories, Find it all with Us.</p>
  <p>Let us take your Studio Photos and Passports.</p>
</div>
<div id="section_trois" class="background four parallax"></div>
<div class="text">
  <h1>Contact Us</h1>
  <p>Reach us any day of the week.</p>
</div>
<div id="section_quarte" class="background five parallax"></div>
<div class="text footer">
  <h2>Sign Up</h2>
  <p>Create an Account with Us for More Benefits.</p>
</div>
